# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.so

# Virtual environment
.venv/
env/
venv/
ENV/
*.envrc

# Jupyter
.ipynb_checkpoints

# IDE configs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs & debug
*.log
*.out
*.err

# Qdrant local storage
qdrant_storage/

# Environment variables
.env

# Dependencies
*.egg-info/
.eggs/
dist/
build/